
.container{
  width: 548px;
  height: 386px;
  margin: 0 auto;

}



nav ul{
list-style: none;
display: flex;
gap: 30px;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #4D4D4D;

}
.content{
  height: 386px;
 background-image: url('../assets/secondimg.jpg');
background-size: cover; 
background-repeat: no-repeat;
color: #FFF7ED;
padding: 50px;
display: grid;
align-items: start; 


}

.content h1{
  font-weight: 800;
  size: 36px;
  line-height: 42px;  

}
.content p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}


.btn{
  background-color: #FF8C38;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
