@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.vansimple{
background-color: #E17654;
color: white;
}
.vanrugged{
background-color:#115E59;
color: white;
}
.vanluxury{
background-color: #161616;
color:white;
}
